/* 
dark-blue: #00001b;
light-yellow: #fcfaec;
*/

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    background-color: #00001b;
    color: #fcfaec;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

#explanation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
}

#special-objects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#game-screen {
    margin-left: 50px;
    margin-top: 25px;
    border: 3px solid #fcfaec;
    width: 428px;
    position: relative;
}

#logo {
    width: 170px;
}

#email {
    width: 450px;
    margin-top: 20px;
}

#wifi-icon {
    width: 40px;
}

#bouncy-icon {
    width: 25px;
}

button {
    background-color: #00001b;
    color: #fcfaec;
    border: 1px solid #fcfaec;
    margin-bottom: 25px;
    margin-top: -5px;
}

#start-btn {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 60%;
    padding: 10px 50px;
    box-shadow: 7px 7px #fcfaec;
}

#start-btn:hover, .gameover-btn:hover {
    background-color: #fcfaec;
    color: #00001b;
    border: 1px solid #00001b;
}

.icons-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    text-decoration: underline 3px;
    text-underline-offset: 5px;
}

.arrow-keys {
    width: 40px;
    margin: 0 5px;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 80%;
}

#controls p {
    font-style: italic;
    color: #fcfaec;
}

#arrow-keys {
    display: flex;
    justify-content: center;
}

.gameover-btn {
    width: 100px;
    font-size: 16px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px 10px;
    box-shadow: 3px 3px #fcfaec;
    width: 100px;
}

#restart-btn {
    position: absolute;
    top: 350px;
    left: 95px;
}

#share-btn {
    position: absolute;
    top: 350px;
    left: 225px;
}

#score-btn {
    position: absolute;
    top: 420px;
    left: 95px;
    width: 229.5px;
}

.visible-btn {
    visibility: visible;
}

.hidden-btn {
    visibility: hidden;
}