/* 
dark-blue: #00001b;
light-yellow: #fcfaec;
*/

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    background-color: #00001b;
    color: #fcfaec;
    font-family: 'Montserrat', sans-serif;
}

#explanation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
}

#special-objects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#game-screen {
    margin-left: 50px;
    margin-top: 35px;
    border: 5px solid #fcfaec;
}

#logo {
    width: 250px;
}

#email {
    width: 550px;
    margin-top: 20px;
}

#wifi-icon {
    width: 60px;
}

#bouncy-icon {
    width: 35px;
}

.icons-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    text-decoration: underline 3px;
    text-underline-offset: 5px;
}